<!DOCTYPE html>
<html>

<head>
  <title>Devices</title>
  <% include ../partials/head %>
  <style>
  .key {
    width: 40%;
  }
</style>
</head>

<body>
  <% include ../partials/header %>
  </br>
  <form style="top: 0; margin-top: 67px; position: absolute; display: inline-block; text-align: -webkit-center;" id="sort-by-form" enctype="application/x-www-form-urlencoded"
        method="post">
    <h3 style="margin-bottom: 8px;position:relative;">My Devices</h3>
    <input class="search-bar" placeholder="Search by Device ID" 
    id="query" name="query" type="text" <%- (query) ? "value='" + query + "'" : ""%>>

    <!-- Add even listener -->
    <div class="base sort-by-holder">
      <span class="sort-by-label">Sort By: </span>
      <div style="margin: 0; display: inline-block;">
        <select id="sortby" class="sort-by" name="sortby" onchange="this.form.submit()">
          <option <%- (sortby=="mostrecent")? "selected" : ""%> value="mostrecent">
            Most Recent Update
          </option>
          <option <%- (sortby == "leastrecent")? "selected" : ""%> value="leastrecent">
            Least Recent Update
          </option>
        </select>
      </div>
    </div>
    <div class="base sort-by-holder">
      <span class="sort-by-label">Filter By: </span>
      <button id="addfilter">Add Filter</button>
    </div>
    <ul id="results-list" class="base results-list">
      <% for (var i = 0; i < data.length; ++i) { %>
      <li class="result-holder <%- data[i].lastStatus %>" <%- "id='" + data[i].deviceID + "'"%>>
        <span class="result-subtext status">
          <%- data[i].lastStatus %></span>
        <span class="result-name">
          <%- data[i].deviceID %></span>
        <br>
        <span class="result-subtext">Last Update
          <%- new Date(data[i].lastHeartbeat).toDateString() %></span>
        <div style="display:none" class="serialNo" <%- "value='" + data[i].serialNo + "'"%>></div>
        <div style="display:none" class="modelNo" <%- "value='" + data[i].modelNo + "'"%>></div>
        <div style="display:none" class="product" <%- "value='" + data[i].product + "'"%>></div>
        <div style="display:none" class="lastStatus" <%- "value='" + data[i].lastStatus + "'"%>></div>
        <div style="display:none" class="lastHeartbeat" <%- "value='" + data[i].lastHeartbeat + "'"%>></div>
      </li>
      <% } %>
    </ul>
    </br>
  </form>
  <div id="filters" class="filters-popup">
    <div class="filters-popup-bar">
      <div style="color:white;font-size:13pt;padding:6px 13px;display:inline-block;">Filters</div>
      <img id="closefilters" src="/img/close2.png">
    </div>
    <div class="filters-popup-content">
      <h5 style="margin-bottom:8px">Last Status</h5>
      <select id="laststatus" name="laststatus">
        <option <%- (lastStatus=="Any")? "selected" : ""%> value="Any">Any</option>
        <option <%- (lastStatus=="Connected")? "selected" : ""%> value="Connected">Online</option>
        <option <%- (lastStatus=="Offline")? "selected" : ""%> value="Offline">Offline</option>
        <option <%- (lastStatus=="RKI In Progress")? "selected" : ""%> value="RKI In Progress">RKI In Progress</option>
      </select>
      <h5 style="margin-bottom:8px;">Last Heartbeat</h5>
      <div>
        <div class="entry">
          <span class="key">Start</span>
          <input style="height: 1.8em" class="text value" type="date" id="from" name="from">
        </div>
        <div>
          <span class="key">End</span>
          <input style="height: 1.8em" class="text value" type="date" id="to" name="to">
        </div>
      </div>
      <button style="margin: 20px 0px" id="applyfilters">Apply</button>
    </div>
  </div>

  <!-- The Modal -->
  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <span id="close-modal" class="close">&times;</span>
        <h2 class="devid"></h2>
      </div>
      <div class="modal-body">
        <div class="entry">
          <div class="key">Device ID</div>
          <div class="value devid"></div>
        </div>
        <div class="entry">
          <div class="key">Product</div>
          <div class="value product"></div>
        </div>
        <div class="entry">
          <div class="key">Serial Number</div>
          <div class="value serialNo"></div>
        </div>
        <div class="entry">
          <div class="key">Model Number</div>
          <div class="value modelNo"></div>
        </div>
      </div>
    </div>

  </div>


  <script>
    function attachClickListeners() {
      $(".result-holder").click(
        ()=>{$("#myModal").fadeIn(400);}
      );
    }
    function updateEntries(entries, callback=attachClickListeners) {
      var statusColor = {"Connected": "#dcffd7", "RKI In Progress": "#fff1c9", "Offline": "#ffc9c9"};
      $(".results-list").empty();
      for (var i = 0; i < entries.length; ++i) {
        $(".results-list").append('<li class="result-holder" style="background:' + statusColor[entries[i].lastStatus] + '"><span class="result-subtext status">' + entries[i].lastStatus + '</span><span class="result-name">' + entries[i].deviceID + '</span><br><span class="result-subtext">Last Update ' + new Date(entries[i].lastHeartbeat).toDateString() + '</span><div style="display:none" class="serialNo" value="' + entries[i].serialNo + '"<div style="display:none" class="modelNo">' + entries[i].modelNo + '</div></li>');
      }
      callback();
    }
    $("#sortby").change(function(event) {
      $("#sort-by-form").submit();
    });
    $("#addfilter").click(function(event) {
      $("#filters").fadeIn('400');
      return false;
    });
    $("#closefilters").click(function(event) {
      $("#filters").fadeOut('400');
      return false;
    });
    $("#query").on("input", function(e) {
      var input = $(this);
      var val = input.val();

      if (input.data("lastval") != val) {
        input.data("lastval", val);
        $.post('/getdevices',
               {query: $(this)[0].value,
                sortby: $("#sortby")[0].value},
                function(data, textStatus, xhr) {
                  updateEntries(data.data);
                });
      }
    });
    $("#applyfilters").click(function(event) {
      $("#filters").fadeOut('400');
      $.post('/getdevices',
             {query: $("#query")[0].value,
              sortby: $("#sortby")[0].value,
              lastStatus: $("#laststatus")[0].value,
              from: $("#from")[0].value,
              to: $("#to")[0].value},
              function(data, textStatus, xhr) {
                updateEntries(data.data);
              });
    });

    $(".result-holder").click(function (event) {
      $(".devid").text($(this)[0].id);
      $("#myModal").find(".product").text($(this).find(".product").attr('value'));
      $("#myModal").find(".serialNo").text($(this).find(".serialNo").attr('value'));
      $("#myModal").find(".modelNo").text($(this).find(".modelNo").attr('value'));
      $("#myModal").fadeIn(400);
    });

    $("#close-modal").click(function (event) {
      $("#myModal").fadeOut(400);
    });


  </script>
</body>

</html>