<!DOCTYPE html>
<html>

<head>
    <title>Homepage</title>
    <% include ../partials/head %>
    <link rel="stylesheet" type="text/css" href="/css/profile.css">
</head>

<body>
    <% include ../partials/header %>
    <center style="margin-top: 67px; display: inline-block; width:100%;" style="width:100%; text-align: center">
        <div style="background: none" class="info-holder">
            <h3 style="margin-bottom: 8px;position:relative; text-align: left;">Terminal Management System</h3>
            <div class="entry">
                <span class="tms-detail">Deployed Devices: <a href="/devices"><%- total %></a></span>
            </div>
            <div class="entry">
                <span class="tms-detail">Online: <a href="/devices?lastStatus=Connected"><%- online %></a></span>
                <span class="tms-detail">Offline: <a href="/devices?lastStatus=Offline"><%- offline %></a></span>
                <span class="tms-detail">Alerts: <a><%- alerts %></a></span>
            </div>
        </div>

    </center>

    <canvas id="myChart"></canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script>
        let ctx = document.getElementById('myChart').getContext('2d');
        let chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',


            // The data for our dataset
            data: {
                labels: ["January", "February", "March", "April", "May", "June",
                    "July", "August", "September", "October", "November", "December"],
                datasets: [{
                    label: "Devices Online in the past year",
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [<%= months %>],
                }]
            },

            // Configuration options go here
            options: {}
        });
    </script>


</body>

</html>